@use "../abstracts/functions" as f;

/**************************/
/* HEADER */
/**************************/

.c-product-cards-header {
    margin-top: f.rem(60px);
    max-width: f.rem(325px);
    text-align: center;
    color: var(--color-verydark-blue);
}

.c-product-primary-heading {
    font-size: f.rem(24px);
    font-weight: 200;
}

.c-product-primary-heading span {
    font-weight: 600;
}

.header-desc {
    margin-top: f.rem(15px);
    font-weight: 200;
    color: var(--color-greyish-blue);
    text-wrap: balance;
}

@media (width >= 50em) {
    .c-product-cards-header {
        max-width: f.rem(540px);
        margin: 0 auto;
    }

    .c-product-primary-heading {
        font-size: f.rem(36px);
    }

    .header-desc {
        margin-top: f.rem(18px);
        font-weight: 400;
        text-wrap: pretty;
    }
}