@use "../abstracts/functions" as f;

/**************************/
/* CARDS CONTAINER */
/**************************/

.c-product-cards {
    margin-top: f.rem(65px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: f.rem(30px);
}

/* GENERAL CARD */
/**************************/
.c-product-card {
    max-width: f.rem(315px);
    padding: f.rem(25px);
    color: var(--color-verydark-blue);
    background-color: var(--color-white);
    
    border-radius: 9px;
    box-shadow: 0px 24px 75px -35px rgba(0,0,0,0.25);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    
}

.c-product-card__desc {
    font-size: f.rem(13px);
    color: var(--color-greyish-blue);
    
}

.c-product-img {
    margin-top: f.rem(30px);
    margin-left: auto;
    height: f.rem(55px);
    width: f.rem(55px);
}

/* CUSTOMIZED CARDS */
/**************************/
.c-product-cards--1 {
    border-top: 4px solid var(--color-cyan);
}

.c-product-cards--2 {
    border-top: 4px solid var(--color-red);
}

.c-product-cards--3 {
    border-top: 4px solid var(--color-orange);
}

.c-product-cards--4 {
    border-top: 4px solid var(--color-blue);
}


@media (width >= 50em) {
    .c-product-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
        gap: f.rem(30px);
    }

    .c-product-card {
        max-width: f.rem(340px);
    }

    .c-product-card__desc {
        margin-top: f.rem(10px);
    }

    .c-product-cards--1 {
        grid-column: 1 / 2;
        transform: translate(0, 50%);
    }

    .c-product-cards--3 {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .c-product-cards--4 {
        grid-column: 3 / 4;
        transform: translate(0, 50%);
    }
}